@model IEnumerable<MessyLabAdmin.Models.Action>

@{
    ViewData["Title"] = "Akcije studenata";
    ViewData["ActiveNav"] = "Actions";
}

<h2>
    Sve
    @if (ViewBag.filteredAction != null)
    {
        <span class="label label-default">@((MessyLabAdmin.Models.Action.ActionType)ViewBag.filteredAction)</span>
    }
    akcije
    @if (ViewBag.filteredStudent != null)
    {
        <span style="font-weight: bold">@ViewBag.filteredStudent.FullName</span>
    }
    else
    {
        <span>studenata</span>
    }
</h2>

<div class="row tools-bar">
    <div class="btn-group col-md-10 col-md-offset-2">
        <a href="#" class="btn search-link" id="search-cancel" style="display:none">
            Otka탑i
        </a>
        <a href="#" class="btn search-link" id="search-toggle">
            <label>Pretraga akcija</label> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
        <div id="search-bar" class="form-group pull-right" style="display:none">
            <form asp-action="Index" method="get" asp-antiforgery="false" class="form-inline">
                @if (ViewBag.filteredStudent != null)
                {
                    <input type="hidden" name="studentId" value="@ViewBag.filteredStudent.ID" />
                }
                <div class="form-group input-group-sm">
                    <label for="createdFrom">Od:</label>
                    <input id="createdFrom" name="createdFrom" type="text" value="@ViewBag.createdFrom" class="form-control input-sm" />
                </div>
                <div class="form-group input-group-sm">
                    <label for="createdUntil">Do:</label>
                    <input id="createdUntil" name="createdUntil" type="text" value="@ViewBag.createdUntil" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="actionType">Akcija:</label>
                    <select name="actionType" class="form-control" asp-for="@ViewData["filteredAction"]" asp-items="@ViewBag.allActionTypes">
                        <option value="" style="font-style:italic">Sve akcije</option>
                    </select>
                </div>
</form>
        </div>
    </div>
</div>

<table class="table center table-striped">
    <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Vreme</th>
        <th>Tip akcije</th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            <a asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentID">
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            <span class="label label-default">
                @Html.DisplayFor(modelItem => item.Type)
            </span>
        </td>
        <td>
            <button class="btn btn-xs toggle-data" data-text-active="Prika탑i podatke" data-text-inactive="Sakrij podatke" style="@(string.IsNullOrEmpty(item.Data) ? "display:none" : "")">
                Prika탑i podatke
            </button>
        </td>
       </tr>
       <tr class="action-data" style="display:none">
        <td colspan="5">
            <div>
                @(!string.IsNullOrEmpty(item.Data) ? item.Data : "/")
            </div>
        </td>
    </tr>
}
</table>

@Html.Partial("_Pagination", new PaginationViewData(ViewBag.currentPage, ViewBag.totalPages))

@section scripts
{

<script type="text/javascript">
    $(function () {

        $("#search-toggle").click(function () {
            if ($("#search-bar").is(":visible")) {
                $("#search-bar form").submit();
            } else {
                $(this).find("label").text("Pretra탑i");
                $("#search-bar, #search-cancel").fadeIn("fast");
            }
            return false;
        })

        $("#search-cancel").click(function() {
            $("#search-bar").add(this).fadeOut("fast", function () {
                $("#search-toggle label").text("Pretraga akcija");
            });
            return false;
        });

        $("#createdFrom, #createdUntil").datetimepicker({
            dateFormat: "dd.mm.yy",
            timeFormat: "HH:mm:ss",
            currentText: "Trenutno vreme",
            closeText: "OK"
        });

        $(".toggle-data").click(function (ev) {
            var btn = $(this);
            var div = btn.parents("tr").next("tr.action-data");
            var isActive = div.is(":visible");
            div.fadeToggle("fast");
            btn.text(btn.data(isActive ? "text-active" : "text-inactive"));
            btn.toggleClass("btn-info");
        })
    });
</script>

}