@{
    ViewData["Title"] = "Početna stranica";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h2>MessyLab Admin</h2>
        <p>Pregled sistema</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Najnovije akcije:</h2>
        <table class="table center table-striped">
            <tr>
                <th>ID</th>
                <th>Student</th>
                <th>Vreme</th>
                <th>Tip akcije</th>
            </tr>
            @foreach (MessyLabAdmin.Models.Action item in ViewBag.latestActions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentID">
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        <span class="label label-default">
                            @Html.DisplayFor(modelItem => item.Type)
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6">
        <h2>Najnovija rešenja:</h2>
        <table class="table center table-striped">
            <tr>
                <th>Zadatak</th>
                <th>Student</th>
                <th>Vreme</th>
                <th>Detalji</th>
            </tr>
            @foreach (MessyLabAdmin.Models.Solution item in ViewBag.latestSolutions)
            {
                <tr>
                    <td>
                        <a asp-controller="Assignments" asp-action="Details" asp-route-id="@item.AssignmentID">
                            @Html.DisplayFor(modelItem => item.Assignment.Title)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentID">
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        <a asp-controller="Solutions" asp-action="Details" asp-route-id="@item.ID">
                            Detalji <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Statistika:</h2>
        <p>TODO</p>
    </div>
</div>