@model MessyLabAdmin.Models.Assignment

@{
    ViewData["Title"] = "Izmeni zadatak";
    ViewData["ActiveNav"] = "Assignments";
}

<div id="assignmentVariantTemplate" style="display:none">
    <div class="form-group assignmentVariant">
        <input class="variantID" type="hidden" name="AssignmentVariants[].ID" value="0" />
        <input class="AssignmentID" type="hidden" name="AssignmentVariants[].AssignmentID" value="@Model.ID" />
        <input class="variantIndex" type="hidden" name="AssignmentVariants[].Index" value="0" />
        <label class="col-md-2 control-label">X.</label>
        <a href="#" class="btn removeVariant">
            Ukloni varijantu <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
        </a>
        <div class="col-md-9 assignmentVariantContainer">
            <textarea name="AssignmentVariants[].Text" class="form-control variantText" rows="4"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h2>Izmena zadatka</h2>
        <form asp-action="Edit" id="EditForm">
            <div class="form-horizontal">
                <hr />
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label">Naslov</label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label">Opis</label>
                    <div class="col-md-10">
                        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="col-md-2 control-label">Početak</label>
                    <div class="col-md-10">
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="col-md-2 control-label">Kraj</label>
                    <div class="col-md-10">
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsActive" />
                            <label asp-for="IsActive">Aktivan zadatak</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                        <a class="btn btn-default" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="SelectEnrollmentNumberModulo" />
            <input type="hidden" asp-for="SelectEnrollmentYear" />
            <input type="hidden" asp-for="SelectStatus" />
        </form>
    </div>
    <div class="col-md-6">
        <h2>
            Varijante zadatka
            <a href="#" class="btn" id="addVariant">
                Dodaj novu varijantu <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </h2>
        <small>Varijante će biti dodeljene prema ostatku deljenja studentskog indeksa sa brojem varijanti.</small>
        <hr class="clearfix" />
        <form id="AssignmentVariantsForm">
            <div class="form-horizontal">
                @for(int i = 0; i < Model.AssignmentVariants.Count; i++)
                {
                <div class="form-group assignmentVariant">
                    <input class="variantID" type="hidden" name="AssignmentVariants[@i].ID" value="@Model.AssignmentVariants.ElementAt(i).ID" />
                    <input class="AssignmentID" type="hidden" name="AssignmentVariants[@i].AssignmentID" value="@Model.ID" />
                    <input class="variantIndex" type="hidden" name="AssignmentVariants[@i].Index" value="@i" />
                    <label class="col-md-2 control-label">@i.</label>
                    <a href="#" class="btn removeVariant">
                        Ukloni varijantu <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </a>
                    <div class="col-md-9 assignmentVariantContainer">
                        <textarea name="AssignmentVariants[@i].Text" class="form-control variantText" rows="4">@Model.AssignmentVariants.ElementAt(i).Text</textarea>
                    </div>
                </div> 
                }
            </div>
        </form>
        <hr />
        <form id="SelectStudentsForm" asp-action="StudentsCount" method="get">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="StudentCount" class="col-md-6 control-label" style="font-size: 20px;">Dodeljeno zadataka</label>
                    <div class="col-md-6">
                        <div id="StudentCountOld" style="font-size: 28px;">@ViewBag.StudentAssignmentsCount</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="StudentCount" class="col-md-6 control-label" style="font-size: 20px;">Rešeno zadataka</label>
                    <div class="col-md-6">
                        <div id="StudentCountOld" style="font-size: 28px;">@ViewBag.SolvedStudentAssignmentsCount</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChangesWarning" class="col-md-10 text-center">
                        <div class="alert alert-danger" role="alert">
                            Promena parameterara će obrisati sve dodeljene zadatke bez rešenja, i dodeliti studentima prema novim parametrima.
                        </div>
                        <div class="alert alert-warning" role="alert">
                            Zadaci koje su studenti već rešili neće biti obrisani.
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="ChangesWarning" class="col-md-6 control-label" style="font-size: 16px;">Promeni parametre</label>
                    <div class="col-md-3">
                        <input id="ChangesWarning" name="ChangesWarning" class="form-control" type="checkbox" />
                    </div>
                </div>
                <hr />
                <div id="selectStudentParams" style="display: none">
                    <div class="form-group">
                        <label for="StudentCount" class="col-md-6 control-label" style="font-size: 16px;">Novi broj studenata</label>
                        <div class="col-md-6">
                            <div name="StudentCount" id="StudentCount" style="font-size: 24px;">@ViewBag.StudentCount</div>
                        </div>
                    </div>
                    <h3>Parametri:</h3>
                    <div class="form-group">
                        <label for="EnrollmentYear" class="col-md-4 control-label">Godina upisa</label>
                        <div class="col-md-3">
                            <input id="EnrollmentYear" name="EnrollmentYear" class="form-control" type="number" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="State" class="col-md-3 control-label">Status</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="0">
                                <span class="label label-primary">Nebitno</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="1" checked>
                                <span class="label label-success">Aktivan</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Status" value="-1">
                                <span class="label label-default">Neaktivan</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#StartTime, #EndTime").datetimepicker({
                dateFormat: "dd.mm.yy",
                timeFormat: "HH:mm:ss",
                currentText: "Trenutno vreme",
                closeText: "OK"
            });

            // initialize selection form
            $("#EnrollmentYear").val($("#SelectEnrollmentYear").val());
            var status = $("#SelectStatus").val() || "0";
            $("input[name=Status][value=" + status + "]").prop("checked", "checked");

            function SimpleRefresh() { RefreshStudentsCount(true); }

            function RefreshStudentsCount(refreshHiddenFields) {
                $("#StudentCount").text("?");

                var form = $("#SelectStudentsForm");
                $.ajax({
                    url: form.prop("action"),
                    method: "get", cache: false,
                    data: form.serialize(),
                    success: function (data) {
                        $("#StudentCount").text(data);
                        if ($("#StudentCountOld").text() == "?")
                        {
                            $("#StudentCountOld").text(data);
                        }
                    }
                });

                // refresh hidden fields
                if (refreshHiddenFields)
                {
                    $("#SelectEnrollmentYear").val($("#EnrollmentYear").val());
                    $("#SelectStatus").val($("input[name=Status]:checked").val());
                }
            }

            RefreshStudentsCount(false);
            $("#EnrollmentYear").keyup(SimpleRefresh);
            $("input[name=Status]").change(SimpleRefresh);

            $("#ChangesWarning").change(function () {
                var checked = $(this).is(":checked");
                $("#selectStudentParams").slideToggle(checked);
            });

            function RefreshVariantIndex() {
                $("#AssignmentVariantsForm").find('.assignmentVariant').each(function (i, val) {
                    var variant = $(this);
                    variant.find('label').text(i + '.');
                    var variantName = 'AssignmentVariants[' + i + '].';
                    variant.find('.variantID').prop('name', variantName + 'ID');
                    variant.find('.AssignmentID').prop('name', variantName + 'AssignmentID');
                    variant.find('.variantText').prop('name', variantName + 'Text');
                    variant.find('.variantIndex').prop('name', variantName + 'Index').val(i);
                });
            }

            $("#addVariant").click(function () {
                var variant = $("#assignmentVariantTemplate > .assignmentVariant").clone();
                $("#AssignmentVariantsForm > .form-horizontal").append(variant);
                RefreshVariantIndex();
                return false;
            });

            $(document).on('click', '.removeVariant', function () {
                $(this).parent('.assignmentVariant').remove();
                RefreshVariantIndex();
                return false;
            });

            $("#EditForm").submit(function () {
                var form = $(this);
                var variants = $("#AssignmentVariantsForm").find(".assignmentVariant");
                if (variants.length == 0)
                    return false;

                $("#SelectEnrollmentNumberModulo").val(variants.length);
                variants.each(function () {
                    var variant = $(this).clone().css('display', 'none');
                    form.append(variant);
                });
                return true;
            });
        });
    </script>

}
