@model IEnumerable<MessyLabAdmin.Models.Assignment>

@{
    ViewData["Title"] = "Svi zadaci";
    ViewData["ActiveNav"] = "Assignments";
}

<h2>Zadaci</h2>

<div class="row tools-bar">
    <div class="btn-group col-md-8">
        <a asp-action="Create" class="btn">
            Kreiraj zadatak <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>

    <div class="btn-group col-md-4">
        <a href="#" class="btn search-link" id="search-cancel" style="display:none">
            Otkaži
        </a>
        <a href="#" class="btn search-link" id="search-toggle">
            Pretraga zadataka <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row tools-bar">
    <div class="btn-group col-md-12">
        <div id="search-bar" class="form-group pull-right" style="display:none">
            <form asp-action="Index" method="get" asp-antiforgery="false" class="form-inline">
                <div class="form-group input-group-sm">
                    <label for="filteredTitle">Naslov:</label>
                    <input id="filteredTitle" name="filteredTitle" type="text" value="@ViewBag.filteredTitle" class="form-control input-sm" />
                </div>
                <div class="form-group input-group-sm">
                    <label for="createdFrom">Od:</label>
                    <input id="createdFrom" name="createdFrom" type="text" value="@(ViewBag.createdFrom != null ? ViewBag.createdFrom.ToString("dd.MM.yyyy HH:mm:ss") : "")" class="form-control input-sm" />
                </div>
                <div class="form-group input-group-sm">
                    <label for="createdUntil">Do:</label>
                    <input id="createdUntil" name="createdUntil" type="text" value="@(ViewBag.createdUntil != null ? ViewBag.createdUntil.ToString("dd.MM.yyyy HH:mm:ss") : "")" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="actionType">Status:</label>
                    <select name="status" class="form-control" asp-for="@ViewData["status"]" asp-items="@ViewBag.allStatusTypes"></select>
                </div>
                <div class="form-group">
                    <label for="actionType">Kreirao:</label>
                    <select name="createdById" class="form-control" asp-for="@ViewData["createdById"]" asp-items="@ViewBag.allCreatedByUsers">
                        <option value="" style="font-style:italic">Svi</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table center table-striped">
    <tr>
        <th>ID</th>
        <th>Zadatak</th>
        <th>Postavio</th>
        <th>Početak</th>
        <th>Kraj</th>
        <th>Status</th>
        <th>Rešeno</th>
        <th style="width: 20%;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.CreatedBy<br />
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
            <td>
                @if (item.IsActive)
                {
                    if (item.StartTime > DateTime.Now)
                    {
                        <span class="label label-default">Nije započet</span>
                    }
                    else if (item.EndTime < DateTime.Now)
                    {
                        <span class="label label-default">Istekao</span>
                    }
                    else
                    {
                        <span class="label label-primary">Aktivan</span>
                    }
                }
                else
                {
                    <span class="label label-warning">Neaktivan</span>
                }
            </td>
            <td>
                @item.StudentAssignments.Where(sa => sa.SolutionID != null).Count()
                /
                @Html.DisplayFor(modelItem => item.StudentAssignments.Count)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn-sm">
                        Detalji <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn-sm">
                        Izmeni <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>

@section scripts
{

    <script type="text/javascript">
    $(function () {

        $("#search-toggle").click(function () {
            if ($("#search-bar").is(":visible")) {
                $("#search-bar form").submit();
            } else {
                $(this).find("label").text("Pretraži");
                $("#search-bar, #search-cancel").fadeIn("fast");
            }
            return false;
        })

        $("#search-cancel").click(function() {
            $("#search-bar").add(this).fadeOut("fast", function () {
                $("#search-toggle label").text("Pretraga zadataka");
            });
            return false;
        });

        $("#createdFrom, #createdUntil").datetimepicker({
            dateFormat: "dd.mm.yy",
            timeFormat: "HH:mm:ss",
            currentText: "Trenutno vreme",
            closeText: "OK"
        });
    });
    </script>

}