@model IndexViewModel
@{
    ViewData["Title"] = "Kontrola sistema";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Promeni podešavanja u sistemu:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Vaša lozinka:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangePassword">Promeni</a>&nbsp;&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="SetPassword">Postavi</a>&nbsp;&nbsp;]</text>
            }
        </dd>
        <dt>Administratorski nalozi</dt>
        <dd>
            <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="Register">Registruj novi nalog</a>&nbsp;&nbsp;]</text>
            <br /><br />
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Administrator</th>
                    <th>Email</th>
                    <th>Broj neuspešnih pristupa</th>
                    <th>Email potvđen</th>
                </tr>
                @foreach (var user in Model.users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.AccessFailedCount</td>
                        <td>@user.EmailConfirmed</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
