@model MessyLabAdmin.Models.Solution

@{
    ViewData["Title"] = "Rešenje zadatka";
    ViewData["ActiveNav"] = "Assignments";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h2 class="column-header">
                        Zadatak
                    </h2>
                    <dl class="dl-horizontal">
                        <dt>
                            Naslov
                        </dt>
                        <dd>
                            <a asp-controller="Assignments" asp-action="Details" asp-route-id="@Model.AssignmentID">
                                @Html.DisplayFor(model => model.Assignment.Title)
                            </a>
                        </dd>
                        <dt>Varijanta</dt>
                        <dd>@(ViewBag.variant.Index+1)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Početak
                        </dt>
                        <dd>
                            @Model.Assignment.StartTime.ToString("dd.MM.yyyy HH:mm:ss")
                        </dd>
                        <dt>
                            Kraj
                        </dt>
                        <dd>
                            @Model.Assignment.EndTime.ToString("dd.MM.yyyy HH:mm:ss")
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Student
                        </dt>
                        <dd>
                            <a asp-controller="Students" asp-action="Details" asp-route-id="@Model.StudentID">
                                @Model.Student.FullName
                            </a>
                        </dd>
                        <dt>
                            Poslao
                        </dt>
                        <dd>
                            @Model.CreatedTime.ToString("dd.MM.yyyy HH:mm:ss")
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Status
                        </dt>
                        <dd>
                            @if (Model.IsEvaluated)
                            {
                                <span class="label label-success">Pregledan</span>
                            }
                            else
                            {
                                <span class="label label-warning">Nije pregledan</span>
                            } 
                            <a asp-action="ToggleEvaluated" asp-route-id="@Model.ID" 
                               class="btn btn-sm @(Model.IsEvaluated ? "btn-default" : "btn-primary")">
                                @(Model.IsEvaluated ? "Otkaži" : "Pregledaj")
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-8">
                    <h2 class="column-header">
                        Rešenje
                    </h2>
                    <dl class="dl-horizontal">
                        <dt>
                            Opis
                        </dt>
                        <dd>
                            @Html.Raw(Model.Assignment.Description.ConvertNewLineToBR())
                        </dd>
                        <dt>
                            Varijanta
                        </dt>
                        <dd>
                            @if (ViewBag.variant != null)
                            {
                                @Html.Raw(((string)ViewBag.variant.Text).ConvertNewLineToBR())
                            }
                            else
                            {
                                <span>???</span>
                            }
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Rešenje
                        </dt>
                        <dd>
                            @Html.Raw(Model.Code.ConvertNewLineToBR())
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Testiran
                        </dt>
                        <dd>
                            @if (Model.LastTestedTime != null)
                            {
                                @Model.LastTestedTime.ToString("dd.MM.yyyy HH:mm:ss")
                            }
                            else
                            {
                                <span class="label label-warning">Testovi nisu izvršeni!</span>
                            }
                            <a class="btn btn-sm btn-info" 
                               asp-controller="Client" asp-action="ManualTestOfSolution" asp-route-id="@Model.ID">
                                Pokreni testiranje
                            </a>
                        </dd>
                        <dt>Broj testova</dt>
                        <dd>@(ViewBag.testsCount ?? 0)</dd>
                    </dl>
                    <table class="table center table-striped">
                        <tr>
                            <th></th>
                            <th>Dati ulaz</th>
                            <th>Očekivani izlaz</th>
                            <th>Izračunati izlaz</th>
                            <th>Status</th>
                        </tr>
                        @if(Model.AssignmentTestResults.Count == 0)
                        {
                            <tr><th colspan="4"><span class="label label-danger">Kod nije moguće prevesti!</span></th></tr>
                        }
                        @{int i = 0;}
                        @foreach (var testResult in Model.AssignmentTestResults)
                        {
                            <tr>
                                <th>Test @(++i)</th>
                                <td>@(testResult.AssignmentTest.GivenInput ?? "/")</td>
                                <td>@(testResult.AssignmentTest.ExpectedOutput ?? "/")</td>
                                <td>
                                    @(testResult.CalculatedOutput ?? "/")
                                </td>
                                <td>
                                    @if (testResult.IsSuccess)
                                    {
                                        <span class="label label-success">OK</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">GREŠKA</span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
