@model MessyLabAdmin.Models.Student

@{
    ViewData["Title"] = "Detalji o studentu";
    ViewData["ActiveNav"] = "Students";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h2 class="column-header">
                        Student
                        <a asp-action="Edit" asp-route-id="@Model.ID" class="tiny-link">Izmeni <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </h2>
                    <dl class="dl-horizontal">
                        <dt>
                            Ime
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            Prezime
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Broj indeksa
                        </dt>
                        <dd>
                            @Model.StudentIdentification
                        </dd>
                        <dt>
                            Godina upisa
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EnrollmentYear)
                        </dd>
                        <dt>
                            Aktivan
                        </dt>
                        <dd>
                            @if (Model.IsActive)
                            {
                                <span class="label label-success">Aktivan</span>
                            }
                            else
                            {
                                <span class="label label-default">Neaktivan</span>
                            }
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Akcije</dt>
                        <dd>
                            <a href="@Url.Action("Index", "Actions", new { studentId = Model.ID })">
                                @Model.Actions.Count <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                            </a>
                        </dd>
                        <dt>Zadaci</dt>
                        <dd>
                            @Model.StudentAssignments.Count(sa => sa.SolutionID != null) / @Model.StudentAssignments.Count
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            Korisničko ime
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt>
                            Inicijalna lozika
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.InitialPassword)
                        </dd>
                        <dt>
                            Promenjena lozinka
                        </dt>
                        <dd>
                            @if (ViewBag.PasswordChanged)
                            {
                                <span class="label label-primary">DA</span>
                            }
                            else
                            {
                                <span class="label label-warning">NE</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-md-8">
                    <h2 class="column-header">Zadaci</h2>
                    <table class="table center table-striped">
                        <tr>
                            <th>Naslov</th>
                            <th>Varijanta</th>
                            <th>Početak</th>
                            <th>Kraj</th>
                            <th>Status</th>
                            <th>Rešenje</th>
                        </tr>
                        @foreach (var item in Model.StudentAssignments)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "Assignments", new { id = item.AssignmentID })">
                                        @item.Assignment.Title
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    </a>
                                </td>
                                <td>@item.AssignmentVariantIndex</td>
                                <td>@item.Assignment.StartTime.ToString("dd.MM.yyyy")</td>
                                <td>@item.Assignment.EndTime.ToString("dd.MM.yyyy")</td>
                                <td>
                                    @if (item.Assignment.IsActive)
                                    {
                                        if (item.Assignment.StartTime > DateTime.Now)
                                        {
                                            <span class="label label-default">Nije započet</span>
                                        }
                                        else if (item.Assignment.EndTime < DateTime.Now)
                                        {
                                            <span class="label label-default">Istekao</span>
                                        }
                                        else
                                        {
                                            <span class="label label-primary">Aktivan</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Neaktivan</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Solution != null)
                                    {
                                        
                                        <a asp-controller="Solutions" asp-action="Details" asp-route-id="@item.SolutionID">
                                            <span class="label label-success">Poslato</span>
                                            @if (item.Solution.IsEvaluated)
                                            {
                                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Nije poslato</span>
                                    }
                                </td>
                            </tr>
                         }
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>