@model MessyLabAdmin.Models.Student

@{
    ViewData["Title"] = "Details";
    ViewData["ActiveNav"] = "Students";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Detalji o studentu</h2>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Izmeni podatke <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </div>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Ime
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    Prezime
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    Broj indeksa
                </dt>
                <dd>
                    @Model.StudentIdentification
                </dd>
                <dt>
                    Godina upisa
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EnrollmentYear)
                </dd>
                <dt>
                    Aktivan
                </dt>
                <dd>
                    @if (Model.IsActive)
                    {
                        <span class="label label-success">Aktivan</span>
                    }
                    else
                    {
                        <span class="label label-default">Neaktivan</span>
                    }
                </dd>
                <dt>Akcije</dt>
                <dd>
                    <a href="#">
                        @Model.Actions.Count <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </a>
                </dd>
                <dt>Zadaci</dt>
                <dd>
                    @Model.Solutions.Count / @Model.StudentAssignments.Count <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </dd>
            </dl>
        </div>
        <p>
            <a asp-action="Index" class="btn btn-default">Nazad na listu</a>
        </p>
    </div>
</div>