@model IEnumerable<MessyLabAdmin.Models.Student>

@{
    ViewData["Title"] = "Studenti";
    ViewData["ActiveNav"] = "Students";
}

<h2>Studenti</h2>

<div class="row tools-bar">
    <div class="btn-group col-md-6">
        <a asp-action="Create" class="btn">
            Kreiraj studenta <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <a asp-action="Create" class="btn">
            Učitaj studente (.CSV) <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </a>
    </div>

    <div class="btn-group col-md-6">
        <a href="#" class="btn search-link">
            Pretraga studenata <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
    </div>
</div>

<table class="table center table-striped">
    <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Broj indeksa</th>
        <th>Upisan</th>
        <th>Aktivan</th>
        <th>Rešeni zadaci</th>
        <th>Akcije</th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>@item.ID</td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentIdentification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentYear)
        </td>
        <td>
            @if (item.IsActive)
            {
                <span class="label label-success">Aktivan</span>
            }
            else
            {
                <span class="label label-default">Neaktivan</span>
            }
        </td>
        <td>
            @item.StudentAssignments.Count(sa => sa.SolutionID != null) / @item.StudentAssignments.Count <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </td>
        <td>
            <a href="@Url.Action("Index", "Actions", new { studentId = item.ID })">
                @item.Actions.Count <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </a>
        </td>
        <td style="width: 20%;">
            <div class="btn-group">
                <a asp-action="Details" asp-route-id="@item.ID" class="btn-sm">
                    Detalji <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn-sm">
                    Izmeni <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </div>
        </td>
    </tr>
}
</table>

@Html.Partial("_Pagination", new PaginationViewData(ViewBag.currentPage, ViewBag.totalPages))
