@model IEnumerable<MessyLabAdmin.Models.Student>

@{
    ViewData["Title"] = "Studenti";
    ViewData["ActiveNav"] = "Students";
}

<h2>Studenti</h2>

<div class="row tools-bar">
    <div class="btn-group col-md-8">
        <a asp-action="Create" class="btn">
            Kreiraj studenta <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <a asp-action="#" class="btn" onClick="javascript: alert('TO BE IMPLEMENTED'); return false;">
            Učitaj studente (.CSV) <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </a>
    </div>

    <div class="btn-group col-md-4">
        <a href="#" class="btn search-link" id="search-cancel" style="display:none">
            Otkaži
        </a>
        <a href="#" class="btn search-link" id="search-toggle">
            Pretraga studenata <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row tools-bar">
    <div class="btn-group col-md-12">
        <div id="search-bar" class="form-group pull-right" style="display:none">
            <form asp-action="Index" method="get" asp-antiforgery="false" class="form-inline">
                <div class="form-group input-group-sm">
                    <label for="firstName">Ime:</label>
                    <input id="firstName" name="firstName" type="text" value="@ViewBag.firstName" class="form-control input-sm" />
                </div>
                <div class="form-group input-group-sm">
                    <label for="lastName">Prezime:</label>
                    <input id="lastName" name="lastName" type="text" value="@ViewBag.lastName" class="form-control input-sm" />
                </div>
                <div class="form-group input-group-xs">
                    <label for="enrollmentYear">Upisan:</label>
                    <input id="enrollmentYear" name="enrollmentYear" type="text" value="@ViewBag.enrollmentYear" class="form-control input-xs" />
                </div>
                <div class="form-group input-group-xs">
                    <label for="enrollmentNumber">Broj:</label>
                    <input id="enrollmentNumber" name="enrollmentNumber" type="text" value="@ViewBag.enrollmentNumber" class="form-control input-xs" />
                </div>
                <div class="form-group input-group-sm">
                    <label for="isActive">Status:</label>
                    <select name="isActive" class="form-control" asp-for="@ViewData["isActive"]" asp-items="@ViewBag.statusData">
                        <option value="" style="font-style:italic">/</option>
                    </select>
                </div>
                <div class="form-group input-group-xs">
                    <label for="solutionCount">Rešeni zadaci:</label>
                    <input id="solutionCount" name="solutionCount" type="text" value="@ViewBag.solutionCount" class="form-control input-xs" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table center table-striped">
    <tr>
        <th>ID</th>
        <th>Ime i prezime</th>
        <th>Broj indeksa</th>
        <th>Upisan</th>
        <th>Status</th>
        <th>Rešeni zadaci</th>
        <th>Akcije</th>
        <th style="width: 20%;"></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>@item.ID</td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentIdentification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentYear)
        </td>
        <td>
            @if (item.IsActive)
            {
                <span class="label label-success">Aktivan</span>
            }
            else
            {
                <span class="label label-default">Neaktivan</span>
            }
        </td>
        <td>
            @item.StudentAssignments.Count(sa => sa.SolutionID != null) / @item.StudentAssignments.Count <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </td>
        <td>
            <a href="@Url.Action("Index", "Actions", new { studentId = item.ID })">
                @item.Actions.Count <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </a>
        </td>
        <td>
            <div class="btn-group">
                <a asp-action="Details" asp-route-id="@item.ID" class="btn-sm">
                    Detalji <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn-sm">
                    Izmeni <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </div>
        </td>
    </tr>
}
</table>

@Html.Partial("_Pagination", new PaginationViewData(ViewBag.currentPage, ViewBag.totalPages))

@section scripts
{

    <script type="text/javascript">
    $(function () {

        $("#search-toggle").click(function () {
            if ($("#search-bar").is(":visible")) {
                $("#search-bar form").submit();
            } else {
                $(this).find("label").text("Pretraži");
                $("#search-bar, #search-cancel").fadeIn("fast");
            }
            return false;
        })

        $("#search-cancel").click(function() {
            $("#search-bar").add(this).fadeOut("fast", function () {
                $("#search-toggle label").text("Pretraga studenata");
            });
            return false;
        });
    });
    </script>

}